@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HST Application</h1>
    <br>
    <p>This application calculates everyday day of workouts for the HST method</p>
    <br>
    <p><a href="@Url.Action("LearnMore", "Home")" class="btn btn-primary btn-lg">What Is HST? &raquo;</a></p>
    <br>
    <p><a href="@Url.Action("GetStarted", "Home")" class="btn btn-success btn-lg">Get Started &raquo;</a></p>
    <br>
    <p><a href="@Url.Action("Notes", "Home")" class="btn btn-danger btn-lg">Notes &raquo;</a></p>
</div>
