<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">HST</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("GetStarted", "Home")">Get Started</a></li>
                <li><a href="@Url.Action("Notes", "Home")">Notes</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h2>Hypertrophy-specific training</h2>
            <br>
            <p>
                <b>Hypertrophy-Specific Training (HST)</b> is a method of strength training intended to induce the fastest muscle growth,
                or hypertrophy, possible, without losing efficacy over an extended period of time, and without the use of anabolic
                steroids. The method was popularized following an October 2000 ThinkMuscle newsletter article by fitness writer
                Bryan Haycock, which discussed methods he and his clients had been using for several years. Haycock says that the
                training method arose out of "physiological principles of hypertrophy discovered in the laboratory," and that
                these principles were then organized into a weight training method meant to induce hypertrophy.
            </p>
            <br>
            <h4><u>Principles of HST</u></h4>
            <ol>
                <li>
                    <b>Mechanical Load:</b> Tension loading of muscles through exercise is a prerequisite for muscle hypertrophy.
                </li>
                <li>
                    <b>Chronic Stimulation:</b> These stimuli must be applied with sufficient frequency. Recovery can take place
                    unabated even if the muscle is loaded again in 48 hours. Acute responses to training, such as increased
                    rates of protein accretion, return to normal in about 36 hours. Given these facts, waiting more than 48 hours
                    between bouts of training for a particular muscle is a waste of time if one is solely using eccentric load
                    conditions
                </li>
                <li>
                    <b>Progressive Load:</b> Over time, the tissue adapts and becomes resistant to the effects of mechanical load. To
                    remain effective, the load must be steadily increased over time at a pace which exceeds the rate of adaptation.
                </li>
                <li>
                    <b>Strategic Deconditioning:</b> When the load has been increased at the appropriate pace for long enough, the weights
                    either become intolerable, or the risk of injury becomes too great. Since the load can no longer be increased,
                    to continue hypertrophy, the adaptation to the load must be reversed. To accomplish this, after the highest weights
                    are used, training is halted for a period to allow the muscles to "Decondition" and allow hypertrophic response to
                    training once again. This process happens after the end of a 6-8 week "cycle" and can last from 9–14 days preceding
                    a new "cycle".
                </li>
            </ol>

            <br>

            <h4><u>Other concepts featured in HST</u></h4>

            <ul>
                <li>
                    <b>Utilizing lactic acid as a stimulus for tendon repair/health:</b> Periodically exercising at higher reps produces lactic
                    acid which prepares the muscles and tendons for future heavy loads.Compound exercises are used to maximize the effects.
                </li>
                <li>
                    <b>Progressively Adjusting reps to accommodate Progressive Load:</b> HST suggests that you gradually reduce the number of
                    reps per set to accommodate the ever increasing load. Many common "HST" programs start with a 15 rep, 2 week
                    "semi-cycle" that is performed over six workouts with the sixth workout being at the exercisers maximum 15-rep weight.
                    The next semi-cycle, reps are reduced to 10, then 5, finally ending with a repeat of the 5 rep cycle, or eccentric
                    repetitions. Each semi-cycle adds to equal one full 8 week cycle.
                </li>
                <li>
                    <b>Low volume per exercise (average volume per week):</b> HST suggests that you limit the number of sets per exercise per
                    workout to 1 or 2, based on evidence that sets beyond the first effective set do little to contribute to hypertrophy.
                    Instead of doing 6 sets of a bench press in one workout once or twice per week, those sets are spread over three
                    workouts in the course of a week. This accommodates the concept of chronic load by allowing for exercise every two days or so.
                </li>
            </ul>


        </div>
    </div>
</div>
