<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">HST</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("GetStarted", "Home")">Get Started</a></li>
                <li><a href="@Url.Action("LearnMore", "Home")">Learn More</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <h2>Notes</h2>
    <br>

    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li>
                    <b>All maxes should be established before beginning the first cycle.</b> Your maxes will determine what
                    weights you will use throughout the entire cycle. Find your 15 rep, 10 rep, and 5 rep max lifts
                    for each exercise you are going to use. For the second cycle simply add 5-10 pounds to all lifts.
                </li>
                <p></p>
                <li>
                    There is an <b>obligatory increase in weight</b> (from 5-20 lbs.) each workout. This means that at times
                    you may be working with less than your maximum weight for any given rep scheme. This is by design.
                    You will reach max poundages for a given rep range on the last workout of each two week block.
                </li>
                <p></p>
                <li>
                    <b>Determining weights for each workout:</b> Assign your max weights to the final workout of each 2
                    week block. Then, in 5-10 pound increments, assign weights in decreasing fashion starting from
                    the last workout working backward to the first. So, for example, if your 10 rep max is 200 pounds,
                    assign 200 pounds for the last workout of the 10 rep block, then assign weights that build up to your
                    max in 6 workouts. For our example, using 5 pound increments, the weights for the whole 2 week block
                    would be 175,180,185,190,195, and 200. Do this for each exercise for each rep scheme.
                </li>
                <p></p>
                <li>
                    The obligatory increase in weight adheres to the principle of <b>Progressive Load</b>. Physiological
                    systems always seek balance or homeostasis. This means they will react, change, and adapt in order
                    to counter act the stressor that is forcing the system to go out of balance. In the case of mechanical
                    loading, the load is the stressor, and an increase in connective tissue and muscle proteins is the
                    reaction designed to bring the muscle back into homeostasis.
                </li>
                <p></p>
                <li>
                    <b>Repetitions will decrease every 2 weeks</b> in the following order: 15 reps for 2 weeks Þ 10 reps for
                    2 weeks Þ 5 reps for 2 weeks Þ then continue with your 5 rep max for 2 weeks or begin 2 weeks of
                    negatives. 15¹s can be skipped when you are about to start over after the first 8 week cycle.
                    If you are feeling strain-type injuries coming on don't skip the 15s.
                </li>
                <p></p>
                <li>
                    The decrease in reps accommodates the increasing load. However, the high rep workouts serve an
                    important purpose. Higher volume anaerobic work benefits the muscle by both increasing resistance
                    to injury as well as increasing functional capacity.
                </li>
                <p></p>
                <li>
                    <b>Sets will be limited to 1-2 per exercise.</b> There is no problem with a single set per body part as
                    long as it is a maximum effort and/or the rep tempo and form is strictly controlled or the weight
                    is extremely heavy preventing further sets.
                </li>
                <p></p>
                <li>
                    What most people understand to be overtraining is a result of Central Nervous System (CNS) fatigue.
                    It has been mistakenly believed that overtraining symptoms arise from fatigue of the muscle tissue itself.
                    Research has demonstrated this NOT to be the case. Keeping CNS fatigue low during frequent training allows
                    dramatic strength gains, thus allowing higher and higher poundages to be used thus promoting ongoing
                    hypertrophy.
                </li>
                <p></p>
                <li>
                    Each muscle group should be loaded <b> 3 times per week.</b> This adheres to the <b>Frequency Principle.</b>
                    A loading stimulus for hypertrophy must be frequent enough to create a consistent ³environment²
                    for the muscle to adapt to. If the muscle is loaded too infrequently, the muscle will adapt and
                    then un-adapt before the stimulus is applied again.
                </li>
                <p></p>
                <li>
                    <b>Sunday, Tuesday, Thursday & Saturday are rest days.</b> Light cardio (20-40 min.) may be performed on
                    rest days. Incline treadmill (brisk walk) should be first choice.
                </li>
                <p></p>
                <li>
                    Rest is important. Although it is fine to experience some accumulation of fatigue, adequate and
                    regular rest is important to avoid injuries and control stress.
                </li>
                <p></p>
                <li>
                    Complete each workout using designated poundages even if muscles are slightly sore from previous
                    workout. It is important to know the difference between an injury and ordinary muscle soreness.
                    NEVER train a muscle that is at risk of injury.<b> Always warm up sufficiently to avoid injury.</b>
                </li>
                <p></p>
                <li>
                    Following each 6-8 week cycle, <b> a one-week period of Strategic Deconditioning</b> should be taken during
                    which no, training should be performed. This time is used to recuperate and allow any minor over-use
                    injuries to heal. Try to get plenty of sleep as well as participate in leisure activities outside of
                    the gym.
                </li>
                <p></p>
                <li>
                    Strategic Deconditioning is very important for long term growth. You have to do it eventually if you
                    hope to bust a previous plateau in ³size². Once your muscle is tuff as shoe leather, all the work in the
                    gym serves only to maintain what size you already have. SD primes the muscle to respond once again to the
                    training stimulus and allows growth to resume.
                </li>
                <p></p>
                <li>
                    The whole workout can be split into a morning and afternoon session. It can likewise be doubled,
                    performing the same workout morning and evening. Keeping volume (number of sets and exercises)
                    low is critical if doubling the workout.
                </li>

            </ul>




        </div>
    </div>
</div>

